@media (max-width: 800px) {
  #sqrSwiper {
    /* background-color: red; */
    width: 30rem;
    height: 30rem;
  }
}
@media (max-width: 400px) {
  #sqrSwiper {
    /* background-color: red; */
    width: 18rem;
    height: 18rem;
  }
}

.mySwiper {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.bannerimg {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
}
